@page "/"
@using CompanionData.Repositories
@using CompanionDomain.Models
@using Microsoft.Extensions.Logging
@inject TraitRepository TraitRepository
@inject ILogger<Index> _logger

<h1 class="text-blue-700 text-2xl">Hello, world!</h1>

@foreach (var trait in _traits)
{
    <p>@trait.Name</p>
}

@code {
    private IEnumerable<Trait> _traits = Enumerable.Empty<Trait>();


    protected override void OnInitialized()
    {
        try
        {
            _traits = TraitRepository.GetTraits();
        }
        catch (Exception ex)
        {
            Console.WriteLine("Error fetching traits: {0}", ex.Message);
            // Consider rethrowing the exception if you want to display an error message to the user
        }
    }

}